 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>TechKnowLogic is a robotics team associated with Greenwich Central School District. We are a group of students in 9-12 grade. During the competition season, we have only 6 weeks to build a robot specifically designed for each year's competition.</p>
                </div>
                <div class="col-lg-4">
                    <p>TechKnowLogic was created in 2016, with about 20 members. Since then, we have shrunk in size, down to 9 members this year, but we still work just as hard as we did the day we started. At the end of each build season, all of our hardwork pays off as we compete in the FIRST Robotics Competition at RPI.</p>
                </div>
                
                </div>
            </div>
        </div>
    </section>
